@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav li, nav a {
    font-family: 'Commissioner', sans-serif;
    /* font-weight: 500; */
    /* font-size: px; */
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 45px ;
    background-color: #e9ad60;
    
    /* rgb(249, 213, 134); */
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    color: #fff;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
}

nav {
    list-style: none;
    /* height: 1280px; */
    height: 40px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 0 10px;
    width: 100px;
    /* height: 19px; */
}

.textbox li a:hover{
    color: rgb(134, 78, 38);
}

.textbox li b{
    color: rgb(134, 78, 38);
    border-bottom: 2px solid rgb(134, 78, 38);
    font-weight: normal;
}

.mainTitle {
    height: 80px;
    width: 200px;
    font-size: 50px;
    margin: 20px auto;
    color: #d69d00;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.search {
    width: 1080px;
    /* height: 600px; */
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
}

.title {
    /* font-family: 'Commissioner', sans-serif; */
    color: grey;
    font-size: 20px;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    width: 1050px;
    margin: 0 auto;
}

.searchAlbum {
    margin-bottom: 10px;
}










/* for music */
.music {
    font-size: 25px;
    display: flex;
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Commissioner', sans-serif;
    color: #e9ad60;
}

.music>div {
    text-decoration: underline;
}

.music>.music-name{
    width: 210px;
}
.music>.music-year{
    width: 80px;
}
.music>.music-genre{
    width: 100px;
}
.music>.music-singer{
    width: 130px;
}

.music>.music-language{
    width: 150px;
}

.music>.music-rating{
    width: 200px;
}

.music>.music-recommendation{
    width: 210px;
}

.list {
    display: flex;
    /* justify-content: space-between; */
    width: 1080px;
    height: 34px;
    margin: 0 auto;
    /* padding-bottom: 5px; */
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 5px;

}

.list>div {
    color: rgb(102, 102, 102);
}

.list>.item-name{
    width: 210px;
}
.list>.item-year{
    width: 80px;
}
.list>.item-genre{
    width: 100px;
}
.list>.item-singer{
    width: 130px;
}

.list>.item-language{
    width: 150px;
}

.list>.item-rating{
    width: 200px;
}

.list>.item-recommendation{
    /* padding-right: 200px; */
    width: 210px;
}

.clearfix{
    height: 34px;
    line-height: 34px;
}














/* for genre */
.genre {
    font-size: 25px;
    display: flex;
    /* justify-content: space-between; */
    width: 825px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Commissioner', sans-serif;
    color: #e9ad60;

}

.genre>div {
    width: 275px;
    text-decoration: underline;
    text-align: center;
}

.genreList {
    display: flex;
    /* justify-content: space-between; */
    width: 825px;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 5px;

}


.genreList>div {
    width: 275px;
    /* margin-right: 10px; */
    color: rgb(102, 102, 102);
    text-align: center;
}








/* for singer */
.singer {
    font-size: 25px;
    display: flex;
    width: 825px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-left: 300px; */
    font-family: 'Commissioner', sans-serif;
    color: #e9ad60;
    text-align: center;
}

.singer>div {
    width: 275px;
    text-decoration: underline;
    text-align: center;
}

.singerList {
    display: flex;
    /* justify-content: space-between; */
    width: 825px;
    margin: 0 auto;
    /* margin-left: 300px; */
    padding-bottom: 5px;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 5px;

}

.singerList>div {
    width: 275px;
    /* margin-right: 10px; */
    color: rgb(102, 102, 102);
    text-align: center;
}











/* for album */
.album {
    font-size: 25px;
    display: flex;
    /* justify-content: space-between; */
    width: 825px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Commissioner', sans-serif;
    color: #e9ad60;

}

.album>div {
    width: 275px;
    text-decoration: underline;
    text-align: center;
}

.albumList {
    display: flex;
    /* justify-content: space-between; */
    width: 825px;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 5px;

}


.albumList>div {
    width: 275px;
    /* margin-right: 10px; */
    color: rgb(102, 102, 102);
    text-align: center;
}

/* .container {
    margin-left: 40px;
} */


