@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav li, nav a {
    font-family: 'Commissioner', sans-serif;
    /* font-weight: 500; */
    /* font-size: px; */
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 45px ;
    background-color: #e9ad60;
    
    /* rgb(249, 213, 134); */
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    color: #fff;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
}

nav {
    list-style: none;
    /* height: 1280px; */
    height: 40px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 0 10px;
    width: 100px;
    /* height: 19px; */
}

.textbox li a:hover{
    color: rgb(134, 78, 38);
}

.textbox li b{
    color: rgb(134, 78, 38);
    border-bottom: 2px solid rgb(134, 78, 38);
    font-weight: normal;
}

.title {
    height: 80px;
    width: 200px;
    font-size: 50px;
    margin: 20px auto;
    color: #d69d00;
    font-family: 'Lobster', cursive;
    text-align: center;
    
}

.singer {
    font-size: 25px;
    display: flex;
    width: 825px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-left: 300px; */
    font-family: 'Commissioner', sans-serif;
    color: #e9ad60;
    text-align: center;
}

.singer>div {
    width: 275px;
    text-decoration: underline;
    text-align: center;
}

.list {
    display: flex;
    /* justify-content: space-between; */
    width: 825px;
    margin: 0 auto;
    /* margin-left: 300px; */
    padding-bottom: 5px;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 5px;

}

.list>div {
    width: 275px;
    /* margin-right: 10px; */
    color: rgb(102, 102, 102);
    text-align: center;
}