@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav li, nav a {
    font-family: 'Commissioner', sans-serif;
    /* font-weight: 500; */
    /* font-size: px; */
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 45px ;
    background-color: #e9ad60;
    
    /* rgb(249, 213, 134); */
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    color: #fff;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
}

nav {
    list-style: none;
    /* height: 1280px; */
    height: 40px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 0 10px;
    width: 100px;
    /* height: 19px; */
}

.textbox li a:hover{
    color: rgb(134, 78, 38);
}

.textbox li b{
    color: rgb(134, 78, 38);
    border-bottom: 2px solid rgb(134, 78, 38);
    font-weight: normal;
}

.title {
    height: 80px;
    width: 200px;
    font-size: 50px;
    margin: 20px auto;
    color: #d69d00;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.add {
    padding: 14px;
    /* border-bottom: 1px solid #e7e7e7; */
    background-color: #f7f7f7;
    margin: 0 auto;
    text-align: center;
    width: 1080px;
    margin-bottom: 10px;
}

.add_container {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

input {
    width: 180px;
    height: 40px;
    border: 1px solid  #e7e7e7;
    border-radius: 3px;
    /* background-color: #fff; */
    font-size: 16px;
    padding: 12px 15px;
}

input:focus {
    outline: none;
    border: 1px solid #e9ad60;
}

.add_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #e9ad60;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    outline: none;
}

.add_btn:active { transform: translateY(2px); }






/* .bottom {
    float: left;
} */


.music {
    font-size: 25px;
    display: flex;
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Commissioner', sans-serif;
    color: #e9ad60;
}

.music>div {
    text-decoration: underline;
}

.music>.music-name{
    width: 210px;
}

.music>.music-year{
    width: 80px;
}

.music>.music-genre{
    width: 100px;
}

.music>.music-singer{
    width: 130px;
}

.music>.music-language{
    width: 150px;
}

.music>.music-rating{
    width: 200px;
}

.music>.music-recommendation{
    width: 210px;
}








.update,
.form {
    display: flex;
    /* justify-content: space-between; */
    width: 1080px;
    /* height: 34px; */
    margin: 0 auto;
    /* padding-bottom: 5px; */
    
    margin-bottom: 5px;
    border-bottom: 2px solid #e7e7e7;

}

/* .list_container {
    float: left;
} */

.list-item {
    display: flex;
    /* justify-content: space-between; */
    width: 1080px;
    height: 34px;
    margin: 0 auto;
    /* padding-bottom: 5px; */
    /* border-bottom: 2px solid #e7e7e7; */
    border-bottom: none;
    margin-bottom: 5px;
    float: left;
    margin-top: 2px;
    /* margin-right: 0; */
    /* position: absolute;
    left:50%; */

}

.list-item>div {
    color: rgb(102, 102, 102);
}

.list-item>.item-name{
    width: 210px;
}

.list-item>.item-year{
    width: 80px;
}
.list-item>.item-genre{
    width: 100px;
}

.list-item>.item-singer{
    width: 130px;
}

.list-item>.item-language{
    width: 150px;
}

.list-item>.item-rating{
    width: 200px;
}

.list-item>.item-recommendation{
    /* padding-right: 200px; */
    width: 210px;
}

.clearfix{
    height: 34px;
    line-height: 34px;
}




.list-operation {
    float: right;
    vertical-align: middle;
    justify-content: space-between;
    display: flex;
}

.list-operation>* {
    margin-left: 10px;
}

.update-btn,
.collect-btn,
.rating-btn,
.list_delete-btn {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    color: #e9ad60;
    text-align: center;
    line-height: 1;
    margin: 0 auto;
    margin-left: 10px;
    /* float: left; */
    display: none;
}

/* .list:hover .list-item{ transform: translateX(-110px); } */

.list_delete-btn:focus { outline: none; }
.list_delete-btn:active { transform: translateY(2px); }
.list_container:hover .list_delete-btn { display: block; }


.update-btn:focus { outline: none; }
.update-btn:active { transform: translateY(2px); }
.list_container:hover .update-btn { display: block; }

.collect-btn:focus { outline: none; }
.collect-btn:active { transform: translateY(2px); }
.list_container:hover .collect-btn { display: block; }


.rating-btn:focus { outline: none; }
.rating-btn:active { transform: translateY(2px); }
.list_container:hover .rating-btn { display: block; }


.item-id {
    display: none;
}


.update-list>input {
    width: 10px;
}

.update-submit {
    font-size: 25px;
    color: #e9ad60;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    outline: none;
    transform: translateY(2px); 
}

.update {
    color: rgb(102, 102, 102);
    /* border-bottom: none; */
    background-color: #f7f7f7;
    padding: 5px 0;
    transform: translateY(-5px);
}

.update-form>input {
    width: 180px;
    height: 25px;
}

.update-form>label {
    margin: 0 15px;
}

.showUpdate {
    display: none;
}
