@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav li, nav a {
    font-family: 'Commissioner', sans-serif;
    /* font-weight: 500; */
    /* font-size: px; */
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 45px ;
    background-color: #e9ad60;
    
    /* rgb(249, 213, 134); */
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    color: #fff;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
}

nav {
    list-style: none;
    /* height: 1280px; */
    height: 40px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 0 10px;
    width: 100px;
    /* height: 19px; */
}

.textbox li a:hover{
    color: rgb(134, 78, 38);
}

.textbox li b{
    color: rgb(134, 78, 38);
    border-bottom: 2px solid rgb(134, 78, 38);
    font-weight: normal;
}

.info {
    width: 550px;
    margin: 0 auto;
    margin-top: 60px;
    /* border: solid 1px ; */
    margin-bottom: 60px;
}

.info>div {
    display: flex;
    padding: 20px;
    
    /* justify-content: space-between; */
    color: rgb(102, 102, 102); 
    
}

.info .clearfix:nth-child(odd) {
    background-color: rgba(225, 174, 108, 0.2);
}

.info .title{
    width: 200px;
}

.info .items {
    display: flex;
    /* justify-content: space-between; */
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    width: 310px;
    line-height: 19px;
}

.info .items:first-child {
    padding-top: 0;
}

.info .items:last-child {
    padding-bottom: 0;
}

/* .ratedSongs .rated-name {
    text-align: center;
    vertical-align: bottom;
} */

.right {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

.item__delete--btn {
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 19px;
    /* display: none; */
    color: rgb(134, 78, 38);
    text-align: center;
    vertical-align: bottom;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }

/* *************************************** */
.items {
    display: flex;
    justify-content: flex-end;
}

.items .songname {
    margin-right: auto;
}

.items .rating {
    margin-right: 8px;
}

.items .delete-btn {
    display: none;
}



.items:hover .delete-btn {display: block;}
.items:hover .songname {transform: translateX(-20px);}
.items:hover .rating {transform: translateX(-20px);}